@import "./fonts/material-icons/material-icons.css";
@import "./colors.less";
@import "./fonts.less";

/* Background Colors */
@primary: #5c5fea;
@primary-dark: #4b4cb3;
@secondary: #262633;

/* Button Colors */
@ui-default: #eeeeee;
@ui-primary: #2196f3;
@ui-accent: #d500f9;
@ui-green: #4caf50;
@ui-orange: #ff9800;
@ui-red: #f44336;

/* Font */
@fc: #e6e6e6;
@fc-dark: darken(@fc, 20%);
@fs: 16px;
@fs-small: 12px;

@select: #2585f3;

/* Scrollbar */
@scrollbar-thumb: #262626;
@scrollbar-track: lighten(@scrollbar-thumb, 10%);
